[Unit]
Requires=clover-network-guard.service
After=clover-network-guard.service

[Socket]
ListenStream=127.0.0.1:57575

[Install]
WantedBy=sockets.target
